In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part two into a DataFrame
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Victoria,HK,70.00,few clouds,22.29,114.16,Mini Hotel Central
1,2,Pedro Leopoldo,BR,71.60,broken clouds,-19.62,-44.04,JJ Imoveis PL
2,4,Santa Rosa,PH,82.00,few clouds,14.31,121.11,Sta Rosa Budget Room
3,5,Sungairaya,ID,75.43,broken clouds,0.70,108.90,808 artel
4,6,Souillac,MU,73.99,few clouds,-20.52,57.52,Bils' Villa
...,...,...,...,...,...,...,...,...
171,548,Mutis,CO,80.29,broken clouds,6.23,-77.40,Paraiso Escondido
172,549,Perth,AU,75.99,broken clouds,-31.93,115.83,Rendezvous Hotel Perth Central
173,553,Cosala,MX,77.00,clear sky,24.41,-106.69,Hotel Real del Conde
174,556,Winneba,GH,80.78,few clouds,5.35,-0.62,Windy Lodge Beach Resort
175,561,Paramonga,PE,72.59,scattered clouds,-10.67,-77.83,"Av Douglas Stephen, Los Chalets Paramonga, Lim..."

In [3]:
vacation_data_df = vacation_data_df.dropna()
vacation_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Victoria,HK,70.00,few clouds,22.29,114.16,Mini Hotel Central
1,2,Pedro Leopoldo,BR,71.60,broken clouds,-19.62,-44.04,JJ Imoveis PL
2,4,Santa Rosa,PH,82.00,few clouds,14.31,121.11,Sta Rosa Budget Room
3,5,Sungairaya,ID,75.43,broken clouds,0.70,108.90,808 artel
4,6,Souillac,MU,73.99,few clouds,-20.52,57.52,Bils' Villa
...,...,...,...,...,...,...,...,...
171,548,Mutis,CO,80.29,broken clouds,6.23,-77.40,Paraiso Escondido
172,549,Perth,AU,75.99,broken clouds,-31.93,115.83,Rendezvous Hotel Perth Central
173,553,Cosala,MX,77.00,clear sky,24.41,-106.69,Hotel Real del Conde
174,556,Winneba,GH,80.78,few clouds,5.35,-0.62,Windy Lodge Beach Resort
175,561,Paramonga,PE,72.59,scattered clouds,-10.67,-77.83,"Av Douglas Stephen, Los Chalets Paramonga, Lim..."

In [4]:
# Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.

desired_cities = ["Salinopolis", "Cururupu", "Tutoia", "Itarema", "Aquiraz"]


travel_cities_df = vacation_data_df[vacation_data_df["City"].isin(desired_cities)]

travel_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,158,Cururupu,BR,74.55,scattered clouds,-1.83,-44.87,Pousada TravÃ©s'cia
53,193,Itarema,BR,75.81,few clouds,-2.92,-39.92,Windvillage
72,243,Tutoia,BR,75.60,broken clouds,-2.76,-42.27,Pousada GuarÃ¡'s
132,442,Aquiraz,BR,82.40,overcast clouds,-3.90,-38.39,Hotel Laguna Blu
153,500,Salinopolis,BR,81.79,clear sky,-0.61,-47.36,Hotel SalinÃ³polis

In [5]:
# Prepare Latitude-longitude pairs by iterating through the DataFrame.
coordinates = []
lat_lng = zip(travel_cities_df["Lat"], travel_cities_df["Lng"])

coordinates = list(lat_lng)
coordinates

[(-1.83, -44.87),
 (-2.92, -39.92),
 (-2.76, -42.27),
 (-3.9, -38.39),
 (-0.61, -47.36)]

In [8]:
fig = gmaps.figure(center=(-3, -40), zoom_level=5)

In [9]:
#Create template for markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [11]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in travel_cities_df.iterrows()]


# Add a direction layer the desired vacation spots and a pop-up marker for each city.
locations = travel_cities_df[["Lat", "Lng"]]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Add a direction layer the desired vacation spots and a pop-up marker for each city.

dir_layer = gmaps.directions_layer(coordinates[0], coordinates[1], 
                                   waypoints = [coordinates[2], coordinates[3], coordinates[4]],
                                   travel_mode='DRIVING')

fig.add_layer(dir_layer)

In [13]:
fig

Figure(layout=FigureLayout(height='420px'))